body{
    background-color:black;
    color:white;
}
h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
  }
p{
    text-align: right;
}  
img{
    border:5px solid white;
    width: 100%;
}
div{
    width:50%;
    margin: 25%;
}